body,html{
    margin: 0px;
    font-family: 'Lato', Helvetica, Arial, sans-serif !important;
}
a:link {
    text-decoration:none;
    color: #f26f2c;
}
a:visited {
    text-decoration:none;
    color: #f26f2c;
}
a:hover {
    text-decoration:underline;
    color: #f26f2c;
}
a:active {
    text-decoration:underline;
    color: #f26f2c;
}
.pageTitle{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 90px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eeeeee;
    opacity: 0.95;
    filter:alpha(opacity=95);
    z-index: 2;
}
.titleContents{
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}
.headerbox{
    width: 100%;
}
.time{
    font-family: "Courier New", Courier, monospace !important;
}
.logo{
    width: 200px;
    height: 75px;
    margin-top: 15px;
    background-image: url('/resources/img/mainLogoHz.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}
.title{
    width: 600px;
    font-size: 20px;
    font-weight: 300;
    color: #333333;
    text-align: right;
}
.logout{
    width: 600px;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}
.contents{
    width: 970px;
    padding-top: 95px;
    margin-left: auto;
    margin-right: auto;
}
.pgstats{
    font-size: 10px;
}
table{
    width: 100%;
}
.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #FFFFFF;
    padding-left: 1px;
    border-top: 1px solid #eeeeee;
    opacity: 0.95;
    filter:alpha(opacity=95);
    z-index: 2;
}
.footerContainer{
    text-align: center;
    width: 970px;
    margin-top: 3px;
    font-size: 12px;
    font-weight: 200;
}
thead{
    font-size:16px;
}
tbody{
    font-size:14px;
}
.compareButton{
    -webkit-align-items: flex-start;
    -webkit-appearance: none;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    -webkit-writing-mode: horizontal-tb;
    background-color: #f26721;
    background-image: linear-gradient(#f26721, #f26721);
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.247059);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.0980392);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.0980392);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.0980392);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    letter-spacing: normal;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    padding-bottom: 4px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 4px;
    text-align: center;
    text-indent: 0px;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    text-transform: none;
    vertical-align: middle;
    word-spacing: 0px;
    writing-mode: lr-tb;
}
.graph{
    width:100%;
    height:450px;
    border:1px solid #f26721;
    margin-top:10px;
}
.axis text {
    fill: #58585b;
}
.axis path,
.axis line {
    fill: none;
    stroke: #888;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
}

.brushAxis path,
.brushAxis line {
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges;
}

.x.axis path {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
}
.y.axis path {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
}

.area1,.area5 {
    fill: #DDDDDD; // grey
    fill-opacity: .8;
    stroke: #DDDDDD;
    clip-path: url(#clip);
}
.area2,.area4 {
    fill: #6F91A4; // medium
    fill-opacity: .8;
    stroke: #6F91A4;
    clip-path: url(#clip);
}
.area3 {
    fill: #01456a; // dark
    fill-opacity: .8;
    stroke: #01456a;
    clip-path: url(#clip);
}
.median {
    fill: none;
    stroke: #DDDDDD;
    stroke-width: 0.8px;
    clip-path: url(#clip);
}
.current {
    fill: none;
    stroke: #f26721;
    stroke-width: 1.5px;
    clip-path: url(#clip);
}

.topofdyke {
    fill: none;
    stroke: #ff3333;
    stroke-width: 2px;
    clip-path: url(#clip);
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus1 circle {
    fill: #f26721;
}
.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
